.container
  .row
    .carousel.slide
      .carousel-inner
        .item.active
          = image_tag 'content/welcome.jpg'

    .container.container-logo
      .logo
        = image_tag 'logo/logo_white.png'
#page
  .nav-wrapper
    %nav.navbar.navbar-inverse{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{ data: { target: '.collapse', toggle: 'collapse' }, type: 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.scroll-to.navbar-brand{ href: '#home' }
            = image_tag 'logo/logo_white.png'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a.scroll-to{ href: '#piercings' } Piercings
            %li
              %a.scroll-to{ href: '#tattoos' } Tattoos
            %li
              %a.scroll-to{ href: '#team' } Team
            %li
              %a.scroll-to{ href: '#contact' } Kontakt
  .container
    .row
      .entries
        %h2 Leidenschaft
        %p
          treibt uns an.
          %br
          Wir wollen Dir den Körperschmuck bieten, den Du dir wünschst.

        %h2 Qualifikation
        %p
          und Erfahrung kannst Du von uns erwarten.

        %h2 Hygiene
        %p
          ist uns wichtig.
          %br
          Wir arbeiten nach höchsten hygienischen Anforderungen

        %h2 Perfektion
        %p
          ist unser Streben in allem was wir tun.
          %br
          Denn nur so erreichen wir Resultate die ein Leben lang glücklich
          %br
          machen und den Namen Schmuck verdienen.

        %h2 Vertrauen
        %p
          gibst du uns - wir geben Dir dafür die volle Unterstützung.
          %br
          Vor, während und nach dem Piercen oder Tätowieren.

        %h2 Anspruch
        %p
          führt zu Resultaten die unseren Kunden gerecht werden.
          %br
          Wir stellen höchste Ansprüche an unsere Arbeit,
          %br
          den verwendeten Materialen und Instrumenten.

  #piercings.container
    .row
      = image_tag 'content/piercings.jpg'
      %h1
        Piercings
      %p
        Während eines persönlichen Beratungsgespräches gehen wir auf Deine Piercing oder Dermal Anchor Idee ein. Im Dialog erarbeiten wir einen konkreten Plan. Wir nehmen uns Zeit Dich ausführlich über mögliche Risiken aufzuklären. Ganz wichtig ist uns auch, Dich bei der richtigen Pflege des Piercings oder Dermal Anchors zu begleiten. Grundsätzlich piercen wir alle Stellen, an denen eine problemlose, schnelle Regeneration stattfindet.
        %br
        Für Piercings verwenden wir ausschliesslich Rein-Titan Schmuck von höchstem Qualitätsgrad. Somit ist eine Allergie oder Unverträglichkeit ausgeschlossen. Wir arbeiten nach den bestmöglichen hygienischen Standards. Jedes Instrument oder Utensil das mit Deinem Körper in Berührung kommt ist steril.
        %br
        In regelmässigen Weiterbildungen schulen wir uns, um Dir stets das bestmögliche Knowhow zu garantieren. Dadurch bieten wir Dir dank ausgereifter Techniken einen schmerzfreien Piercingvorgang.
        %br
        Das Mindestalter für ein Piercing beträgt 14 Jahre. Wir behalten wir uns vor zu entscheiden, welche Piercings wir durchführen und welche eventuell noch zu früh sind. Bei minderjährigen Personen ist das Beisein eines Erziehungsberechtigten zwingend.
      .col-md-offset-4.col-md-4
        .portrait
          = link_to 'pages/michi.html' do
            = image_tag lorem.image('270x270')
            Michael

  #tattoos.container
    .row
      = image_tag 'content/tattoos.jpg'
      %h1
        Tattoos
      %p
        Während eines persönlichen Beratungsgespräches gehen wir auf Deine Piercing oder Dermal Anchor Idee ein. Im Dialog erarbeiten wir einen konkreten Plan. Wir nehmen uns Zeit Dich ausführlich über mögliche Risiken aufzuklären. Ganz wichtig ist uns auch, Dich bei der richtigen Pflege des Piercings oder Dermal Anchors zu begleiten. Grundsätzlich piercen wir alle Stellen, an denen eine problemlose, schnelle Regeneration stattfindet.
        %br
        Für Piercings verwenden wir ausschliesslich Rein-Titan Schmuck von höchstem Qualitätsgrad. Somit ist eine Allergie oder Unverträglichkeit ausgeschlossen. Wir arbeiten nach den bestmöglichen hygienischen Standards. Jedes Instrument oder Utensil das mit Deinem Körper in Berührung kommt ist steril.
        %br
        In regelmässigen Weiterbildungen schulen wir uns, um Dir stets das bestmögliche Knowhow zu garantieren. Dadurch bieten wir Dir dank ausgereifter Techniken einen schmerzfreien Piercingvorgang.
        %br
        Das Mindestalter für ein Piercing beträgt 14 Jahre. Wir behalten wir uns vor zu entscheiden, welche Piercings wir durchführen und welche eventuell noch zu früh sind. Bei minderjährigen Personen ist das Beisein eines Erziehungsberechtigten zwingend.

  #team.container
    .row
      = image_tag 'content/team.jpg'
      %h1
        Team
      %p
        = lorem.paragraphs 2

  #contact.container
    .row
      = image_tag 'content/map.png'
      %h1
        Kontakt
      %p
        = lorem.paragraphs 1
  %footer.container
    .row
      .footer.container
        %p
          = lorem.words 10

  .lemur
    = image_tag 'content/lemur.png'

